<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static%}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href= "/static/assets/images/stat_icon.png">
    <title>MathProject</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="{% static 'assets/plugins/clockpicker/dist/jquery-clockpicker.min.css' %}" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="{% static 'assets/plugins/jquery-asColorPicker-master/css/asColorPicker.css' %}" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="{% static 'assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Daterange picker plugins css -->
    <link href="{% static 'assets/plugins/timepicker/bootstrap-timepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{% static 'css/colors/blue.css' %}" id="theme" rel="stylesheet">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
<![endif]-->
</head>
  <body class="fix-header card-no-border">
        <div class="preloader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
            </div>
            <!-- ============================================================== -->
            <!-- Main wrapper - style you can find in pages.scss -->
            <!-- ============================================================== -->
            <div id="main-wrapper">
                <!-- ============================================================== -->
                <!-- Topbar header - style you can find in pages.scss -->
                <!-- ============================================================== -->
                <header class="topbar">
                    <nav class="navbar top-navbar navbar-expand-md navbar-light">
                        <!-- ============================================================== -->
                        <!-- Logo -->
                        <!-- ============================================================== -->
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                <!-- Logo icon -->
                                <b>
                                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                                    <!-- Dark Logo icon -->
                                    <img src="{% static 'assets/images/stat-icon.ico' %}" alt="homepage" width="80%" height="80%" class="dark-logo" />
                                    <!-- Light Logo icon -->
                                    <img src="{% static 'assets/images/stat-icon.ico' %}" alt="homepage" width="80%" height="80%" class="light-logo" />
                                </b>
                                <!--End Logo icon -->
                                <!-- Logo text -->
                                <span>
                                 <!-- dark Logo text -->
                                 ksajdasd
                                 </span> </a>
                        </div>
                        <!-- ============================================================== -->
                        <!-- End Logo -->
                        <!-- ============================================================== -->
                        <div class="navbar-collapse">
                            <!-- ============================================================== -->
                            <!-- toggle and nav items -->
                            <!-- ============================================================== -->
                            <ul class="navbar-nav mr-auto mt-md-0">
                                <!-- This is  -->
                                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                                <!-- ============================================================== -->
        
                            </ul>
                            <!-- ============================================================== -->
                            <!-- User profile and search -->
                            <!-- ============================================================== -->
                            <ul class="navbar-nav my-lg-0">
                              
                               
                            </ul>
                        </div>
                    </nav>
                </header>
                <!-- ============================================================== -->
                <!-- End Topbar header -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Left Sidebar - style you can find in sidebar.scss  -->
                <!-- ============================================================== -->
                <aside class="left-sidebar">
                    <!-- Sidebar scroll-->
                    <div class="scroll-sidebar">
                        <!-- User profile -->
                       
                        <!-- End User profile text-->
                        <!-- Sidebar navigation-->
                        <nav class="sidebar-nav">
                            <ul id="sidebarnav">
                                <li class="nav-small-cap">Análisis</li>
                                <li>
                                    <a  href="{% url 'yahoodata:index' %}" ><i class="mdi mdi-amazon-clouddrive"></i><span class="hide-menu">Automático </span></a>
                                    
                                </li>
                                <li> <a  href="{% url 'yahoodata:csv' %}"><i class="mdi mdi-book"></i><span class="hide-menu">Manual (CSV)</span></a>
                                  
                                </li>
                                
                                
                            </ul>
                        </nav>
                        <!-- End Sidebar navigation -->
                    </div>
                    <!-- End Sidebar scroll-->
                    <!-- Bottom points-->
                    <div class="sidebar-footer">
                       
                    </div>
                    <!-- End Bottom points-->
                </aside>
                <!-- ============================================================== -->
                <!-- End Left Sidebar - style you can find in sidebar.scss  -->
                <!-- ============================================================== -->

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->

            <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Análisis Manual</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'yahoodata:index' %}">Home</a></li>
                            <li class="breadcrumb-item active">Análisis Manual</li>
                        </ol>
                    </div>
                    <div class="col-md-7 col-4 align-self-center">
                            <div class="d-flex m-t-10 justify-content-end">
                                <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                    <div class="chart-text m-r-10">
                                        <h6 class="m-b-0"><small>Ultima Accion Consultada</small></h6>
                                        <h4 class="m-t-0 text-info"><center>{{last_action}}</center></h4></div>
                                   
                                </div>
                                <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                    <div class="chart-text m-r-10">
                                        <h6 class="m-b-0"><small>Precio Teórico</small></h6>
                                        <h4 class="m-t-0 text-primary">${{precio_last_action}}</h4></div>
                                    
                                </div>
    
                                <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                        <div class="chart-text m-r-10">
                                            <h6 class="m-b-0"><small>Precio Estimado </small></h6>
                                            <h4 class="m-t-0 text-primary">${{estimado_last_action}}</h4></div>
                                        
                                </div>
                                
                            </div>
                        </div>
                </div>

            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <!-- Card -->
                    <div class="card">
                            
                        <div class="card-body">

                                {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li class="alert alert-danger">{{ message }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                
                            <h4 class="card-title">Elegir Fecha y Cargar Datos</h4>
                            <h6 class="card-subtitle">Elija el archivo CSV descargado desde <a href="https://finance.yahoo.com/">Yahoo Finance</a></h6>
                            <form action="{% url 'yahoodata:getData' %}" method="POST" enctype="multipart/form-data">
                            <div class="row form-material">

                                   

                                <div class="col-md-12">

                                    <label class="m-t-40">Nombre Accion</label>
                                    <input type="text" required class="form-control" name="codigo" placeholder="Escriba Nombre Acción">
                                </div>

                                <div class="col-md-12">
                                        <label class="m-t-40">Archivo CSV</label>
                                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                            <div class="form-control" data-trigger="fileinput"> <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div> <span class="input-group-addon btn btn-default btn-file"> <span class="fileinput-new">Elegir Archivo</span> <span class="fileinput-exists">Cambiar</span>
                                            <input type="hidden">
                                            <input type="file" required name="csv"> </span> <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Quitar</a> </div>
                                    </div>


                                <div class="col-md-12">

                                    <label class="m-t-40">Tipo Opción</label>

                                    <select name="tipo" required class="form-control form-control-line">
                                      <option name="compra"> Compra </option>
                                      <option name="venta"> Venta </option>
                                    </select>
                                </div>

                                <div class="col-md-12">
                                    <label class="m-t-20">Fecha Compra Acción</label>
                                    <input type="text" class="form-control mdate" required name = "fecha_compra" >

                                </div>

                                <div class="col-md-12">

                                    <label class="m-t-40">Porcentaje de Interés libre de riesgo</label>
                                    <input type="number" class="form-control" name="tasa_interes" required pattern="[0-9]{1,3}" placeholder="Escriba porcentaje (de 1 a 100)">
                                </div>

                                <div class="col-md-12">
                                    <label class="m-t-40">Cantidad de Trayectorias</label>
                                    <input type="number" class="form-control" name="trayectorias" required  placeholder="Escriba cantidad (No muy grande)">
                                </div>

                                <div class="col-md-12">
                                    <label class="m-t-40">Cantidad de Puntos por trayectoria</label>
                                    <input type="number" class="form-control" name="puntos" required  placeholder="Escriba cantidad">
                                </div>


                                <input type="hidden"  name="automatico" required value="0">
                                {% csrf_token %}
                                <div class="col-md-12">
                                    <button class="btn btn-success" type="submit"> Enviar </button>
                                </div>
                              </form>

                              
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> mathproject </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>

    <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/plugins/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src="{% static 'assets/plugins/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <script src="{% static 'assets/plugins/sparkline/jquery.sparkline.min.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'js/custom.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- Plugins for this page -->
    <!-- ============================================================== -->
    <!-- Plugin JavaScript -->
    <script src="{% static 'assets/plugins/moment/moment.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="{% static 'assets/plugins/clockpicker/dist/jquery-clockpicker.min.js' %}"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="{% static 'assets/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js' %}"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="{% static 'assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="{% static 'assets/plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

    <script src="{% static 'js/jasny-bootstrap.js' %}"></script>
    <script>
    // MAterial Date picker
    $('.mdate').bootstrapMaterialDatePicker({
        weekStart: 0,
        time: false
    });
    $('#timepicker').bootstrapMaterialDatePicker({
        format: 'HH:mm',
        time: true,
        date: false
    });
    $('#date-format').bootstrapMaterialDatePicker({
        format: 'dddd DD MMMM YYYY - HH:mm'
    });

    $('#min-date').bootstrapMaterialDatePicker({
        format: 'DD/MM/YYYY HH:mm',
        minDate: new Date()
    });
    // Clock pickers
    $('#single-input').clockpicker({
        placement: 'bottom',
        align: 'left',
        autoclose: true,
        'default': 'now'
    });
    $('.clockpicker').clockpicker({
        donetext: 'Done',
    }).find('input').change(function() {
        console.log(this.value);
    });
    $('#check-minutes').click(function(e) {
        // Have to stop propagation here
        e.stopPropagation();
        input.clockpicker('show').clockpicker('toggleView', 'minutes');
    });
    if (/mobile/i.test(navigator.userAgent)) {
        $('input').prop('readOnly', true);
    }
    // Colorpicker
    $(".colorpicker").asColorPicker();
    $(".complex-colorpicker").asColorPicker({
        mode: 'complex'
    });
    $(".gradient-colorpicker").asColorPicker({
        mode: 'gradient'
    });
    // Date Picker
    jQuery('.mydatepicker, #datepicker').datepicker();
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    jQuery('#date-range').datepicker({
        toggleActive: true
    });
    jQuery('#datepicker-inline').datepicker({
        todayHighlight: true
    });
    // Daterange picker
    $('.input-daterange-datepicker').daterangepicker({
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse'
    });
    $('.input-daterange-timepicker').daterangepicker({
        timePicker: true,
        format: 'MM/DD/YYYY h:mm A',
        timePickerIncrement: 30,
        timePicker12Hour: true,
        timePickerSeconds: false,
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse'
    });
    $('.input-limit-datepicker').daterangepicker({
        format: 'MM/DD/YYYY',
        minDate: '06/01/2015',
        maxDate: '06/30/2015',
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse',
        dateLimit: {
            days: 6
        }
    });



    $(".inputFileVisible").click(function(){
    $(this).siblings("input[type='file']").click();
});
$(".inputFileVisible").focus(function(){
    $(this).siblings("input[type='file']").focus();
});
$(".inputFileHidden").change(function(){
    if(this.files.length > 0){
        $(this).siblings(".inputFileVisible").val(this.files[0].name);
    }else{
        $(this).siblings(".inputFileVisible").val("");
    }
});




    </script>


  </body>
</html>
