<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static%}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href= "/static/assets/images/fondo_praderas.png">
    <title>MathProject</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="{% static 'assets/plugins/clockpicker/dist/jquery-clockpicker.min.css' %}" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="{% static 'assets/plugins/jquery-asColorPicker-master/css/asColorPicker.css' %}" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="{% static 'assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Daterange picker plugins css -->
    <link href="{% static 'assets/plugins/timepicker/bootstrap-timepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{% static 'css/colors/default-dark.css' %}" id="theme" rel="stylesheet">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
<![endif]-->
</head>
  <body>
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                                
                            <h4 class="card-title">Elegir fechas y Accion</h4>
                            <h6 class="card-subtitle">Elija fechas y nombre de acción</h6>
                            <form action="{% url 'yahoodata:getData' %}" method="POST">
                            <div class="row form-material">

                                   

                                <div class="col-md-12">

                                    <label class="m-t-40">Código Accion</label>
                                    <input type="text" required class="form-control" name="codigo" placeholder="Escriba Código Acción">
                                </div>

                                <div class="col-md-12">

                                    <label class="m-t-40">Tipo Opción</label>

                                    <select name="tipo" required class="form-control form-control-line">
                                      <option name="compra"> Compra </option>
                                      <option name="venta"> Venta </option>
                                    </select>
                                </div>

                                <div class="col-md-12">
                                    <label class="m-t-20">Fecha Compra Acción</label>
                                    <input type="text" class="form-control mdate" required name = "fecha_compra" >

                                </div>

                                <div class="col-md-12">

                                    <label class="m-t-40">Porcentaje de Interés libre de riesgo</label>
                                    <input type="number" class="form-control" name="tasa_interes" required pattern="[0-9]{1,3}" placeholder="Escriba porcentaje (de 1 a 100)">
                                </div>

                                <div class="col-md-12">
                                    <label class="m-t-40">Cantidad de Puntos por trayectoria</label>
                                    <input type="number" class="form-control" name="puntos" required  placeholder="Escriba cantidad">
                                </div>



                                {% csrf_token %}

                                <button class="btn btn-success" type="submit"> Enviar </button>
                              </form>

                              
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> mathproject </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>

    <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/plugins/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src="{% static 'assets/plugins/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <script src="{% static 'assets/plugins/sparkline/jquery.sparkline.min.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'js/custom.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- Plugins for this page -->
    <!-- ============================================================== -->
    <!-- Plugin JavaScript -->
    <script src="{% static 'assets/plugins/moment/moment.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="{% static 'assets/plugins/clockpicker/dist/jquery-clockpicker.min.js' %}"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="{% static 'assets/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js' %}"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="{% static 'assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="{% static 'assets/plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <script>
    // MAterial Date picker
    $('.mdate').bootstrapMaterialDatePicker({
        weekStart: 0,
        time: false
    });
    $('#timepicker').bootstrapMaterialDatePicker({
        format: 'HH:mm',
        time: true,
        date: false
    });
    $('#date-format').bootstrapMaterialDatePicker({
        format: 'dddd DD MMMM YYYY - HH:mm'
    });

    $('#min-date').bootstrapMaterialDatePicker({
        format: 'DD/MM/YYYY HH:mm',
        minDate: new Date()
    });
    // Clock pickers
    $('#single-input').clockpicker({
        placement: 'bottom',
        align: 'left',
        autoclose: true,
        'default': 'now'
    });
    $('.clockpicker').clockpicker({
        donetext: 'Done',
    }).find('input').change(function() {
        console.log(this.value);
    });
    $('#check-minutes').click(function(e) {
        // Have to stop propagation here
        e.stopPropagation();
        input.clockpicker('show').clockpicker('toggleView', 'minutes');
    });
    if (/mobile/i.test(navigator.userAgent)) {
        $('input').prop('readOnly', true);
    }
    // Colorpicker
    $(".colorpicker").asColorPicker();
    $(".complex-colorpicker").asColorPicker({
        mode: 'complex'
    });
    $(".gradient-colorpicker").asColorPicker({
        mode: 'gradient'
    });
    // Date Picker
    jQuery('.mydatepicker, #datepicker').datepicker();
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    jQuery('#date-range').datepicker({
        toggleActive: true
    });
    jQuery('#datepicker-inline').datepicker({
        todayHighlight: true
    });
    // Daterange picker
    $('.input-daterange-datepicker').daterangepicker({
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse'
    });
    $('.input-daterange-timepicker').daterangepicker({
        timePicker: true,
        format: 'MM/DD/YYYY h:mm A',
        timePickerIncrement: 30,
        timePicker12Hour: true,
        timePickerSeconds: false,
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse'
    });
    $('.input-limit-datepicker').daterangepicker({
        format: 'MM/DD/YYYY',
        minDate: '06/01/2015',
        maxDate: '06/30/2015',
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse',
        dateLimit: {
            days: 6
        }
    });




    </script>


  </body>
</html>
