<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static%}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href= "/static/assets/images/fondo_praderas.png">
    <title>MathProject </title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="{% static 'assets/plugins/clockpicker/dist/jquery-clockpicker.min.css' %}" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="{% static 'assets/plugins/jquery-asColorPicker-master/css/asColorPicker.css' %}" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="{% static 'assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Daterange picker plugins css -->
    <link href="{% static 'assets/plugins/timepicker/bootstrap-timepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{% static 'css/colors/default-dark.css' %}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>

    
<![endif]-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
  <body>
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->

            <div class="row">
                <div class="col-12">
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Resultados</h2>

                            <button type="button" class="btn btn-success pull-right"  href="{% url 'index' %}"> Volver</button>

                        </div>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Trayectorias Realizadas para {{accion}} </h4>

                            {% if data_x %}
                            

                            <div style="height: 100%; width: 100%">
                                    <canvas id="myChart"></canvas>
                            </div>

                            {% else %}
                                <p>No se obtuvieron resultados.</p>
                            {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                            <!-- Card -->
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Datos de Estimación</h4>
        
                                    {% if data_x %}
                                    
        
                                    
                                    
                                            <div class="row form-material">

                                                    <div class="col-md-12">
                                                            <label class="m-t-40">Valor Teórico</label>
                                                            <input type="text" class="form-control" value="{{resultado}}" readonly>
                    
                                                    </div>
                
                                                   
                
                                                <div class="col-md-12">
                
                                                    <label class="m-t-40">Cantidad de Puntos</label>
                                                    <input type="text" class="form-control" value="{{cantidad_puntos}}" readonly>
                                                </div>
                
                                                <div class="col-md-12">
                
                                                        <label class="m-t-40">Cantidad de Trayectorias</label>
                                                        <input class="form-control" type="text" value="{{cantidad_trayectorias}}" readonly>
                                                </div>
                
                                                <div class="col-md-12">
                                                        <label class="m-t-40">Valor Estimado</label>
                                                        <input type="text" class="form-control" value="{{valor_final_montecarlo}}" readonly>
                
                                                </div>

                                                <div class="col-md-12">
                                                    <label class="m-t-40">Desviación Estandar Trayectorias</label>
                                                    <input type="text" class="form-control" value="{{desviacion_valores_finales}}" readonly>
            
                                                </div>

                                                
                
                                                <div class="col-md-12">
                                                        <label class="m-t-40">Error</label>
                                                        <input type="text" class="form-control" value="{{error}}" readonly>
                                                </div>
                
                                                
                
                
                
                                               
        
                                    
                                    {% endif %}
                                    </div>
                                </div>
                    </div>


                </div>
            </div>
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> mathproject </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>

    <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/plugins/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src="{% static 'assets/plugins/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <script src="{% static 'assets/plugins/sparkline/jquery.sparkline.min.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'js/custom.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- Plugins for this page -->
    <!-- ============================================================== -->
    <!-- Plugin JavaScript -->
    <script src="{% static 'assets/plugins/moment/moment.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="{% static 'assets/plugins/clockpicker/dist/jquery-clockpicker.min.js' %}"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="{% static 'assets/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js' %}"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="{% static 'assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="{% static 'assets/plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

    
    <script>


        Chart.pluginService.register({
		afterUpdate: function (chart) {
			var xScale = chart.scales['x-axis-0'];
			if (xScale.options.ticks.maxTicksLimit) {
				// store the original maxTicksLimit
				xScale.options.ticks._maxTicksLimit = xScale.options.ticks.maxTicksLimit;
				// let chart.js draw the first and last label
				xScale.options.ticks.maxTicksLimit = (xScale.ticks.length % xScale.options.ticks._maxTicksLimit === 0) ? 1 : 2;

				var originalXScaleDraw = xScale.draw
				xScale.draw = function () {
					originalXScaleDraw.apply(this, arguments);

					var xScale = chart.scales['x-axis-0'];
					if (xScale.options.ticks.maxTicksLimit) {
						var helpers = Chart.helpers;

						var tickFontColor = helpers.getValueOrDefault(xScale.options.ticks.fontColor, Chart.defaults.global.defaultFontColor);
						var tickFontSize = helpers.getValueOrDefault(xScale.options.ticks.fontSize, Chart.defaults.global.defaultFontSize);
						var tickFontStyle = helpers.getValueOrDefault(xScale.options.ticks.fontStyle, Chart.defaults.global.defaultFontStyle);
						var tickFontFamily = helpers.getValueOrDefault(xScale.options.ticks.fontFamily, Chart.defaults.global.defaultFontFamily);
						var tickLabelFont = helpers.fontString(tickFontSize, tickFontStyle, tickFontFamily);
						var tl = xScale.options.gridLines.tickMarkLength;

						var isRotated = xScale.labelRotation !== 0;
						var yTickStart = xScale.top;
						var yTickEnd = xScale.top + tl;
						var chartArea = chart.chartArea;

						// use the saved ticks
						var maxTicks = xScale.options.ticks._maxTicksLimit - 1;
						var ticksPerVisibleTick = xScale.ticks.length / maxTicks;

						// chart.js uses an integral skipRatio - this causes all the fractional ticks to be accounted for between the last 2 labels
						// we use a fractional skipRatio
						var ticksCovered = 0;
						helpers.each(xScale.ticks, function (label, index) {
							if (index < ticksCovered)
								return;

							ticksCovered += ticksPerVisibleTick;

							// chart.js has already drawn these 2
							if (index === 0 || index === (xScale.ticks.length - 1))
								return;

							// copy of chart.js code
							var xLineValue = this.getPixelForTick(index);
							var xLabelValue = this.getPixelForTick(index, this.options.gridLines.offsetGridLines);

							if (this.options.gridLines.display) {
								this.ctx.lineWidth = this.options.gridLines.lineWidth;
								this.ctx.strokeStyle = this.options.gridLines.color;

								xLineValue += helpers.aliasPixel(this.ctx.lineWidth);

								// Draw the label area
								this.ctx.beginPath();

								if (this.options.gridLines.drawTicks) {
									this.ctx.moveTo(xLineValue, yTickStart);
									this.ctx.lineTo(xLineValue, yTickEnd);
								}

								// Draw the chart area
								if (this.options.gridLines.drawOnChartArea) {
									this.ctx.moveTo(xLineValue, chartArea.top);
									this.ctx.lineTo(xLineValue, chartArea.bottom);
								}

								// Need to stroke in the loop because we are potentially changing line widths & colours
								this.ctx.stroke();
							}

							if (this.options.ticks.display) {
								this.ctx.save();
								this.ctx.translate(xLabelValue + this.options.ticks.labelOffset, (isRotated) ? this.top + 12 : this.options.position === "top" ? this.bottom - tl : this.top + tl);
								this.ctx.rotate(helpers.toRadians(this.labelRotation) * -1);
								this.ctx.font = tickLabelFont;
								this.ctx.textAlign = (isRotated) ? "right" : "center";
								this.ctx.textBaseline = (isRotated) ? "middle" : this.options.position === "top" ? "bottom" : "top";
								this.ctx.fillText(label, 0, 0);
								this.ctx.restore();
							}
						}, xScale);
					}
				};
			}
		},
	});
    
    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }




        // Our labels along the x-axis
var data_x = {{data_x |safe}};
// For drawing the lines
var data_y = {{data_y |safe}};


console.log(data_x);
console.log(data_y);








var ctx = document.getElementById("myChart");

datasets_grafico = [];

for(var i = 0; i< data_y.length ; i++){
    data_y_i = JSON.parse(data_y[i]);

    grafico = {
        data: data_y_i ,
        label: "Trayectoria "+(i+1),
        borderColor: getRandomColor(),
        fill: false
    };
    datasets_grafico.push(grafico);
}
var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: data_x,
    datasets: datasets_grafico
  },
  options: {
        
        tooltips: {
          callback: function(tooltipItem) {
            return tooltipItem.yLabel;
          }
        },
        scales: {
          xAxes: [{
            ticks: {
              maxTicksLimit: 20
            }
          }]
        }
      }
    });
    </script>
    

  </body>
</html>
